
/* Modify the background color */

        .navbar-custom {
          background-color: #E6E6E6;
        }
        .p-5 {
          text-align: center;
          color: #F8F9FA;
        }
        h1 {
          position: relative;
          margin-top: 40px;
        }
        .col-md-8 {
          text-align: center;
        }
        .input-group {
          width: 300px;
        }
        .col-12 {
          display:flex;
          justify-content:center;
        }
        #appSummary {
          text-align: center;
          margin-top:50px;
          margin-bottom: 50px; 
        }
        #appStoreIcon {
          width: 200px;
        }
        #footer {
          background-color: #212529;
          color: #F8F9FA;
          padding-top: 150px;
          margin-top: 50px;
          padding-bottom: 150px;
          text-align: center;
        }
        .card-footer {
         background-color: #212529;
        }
        body {  
          background-color: #768688;
        }
        .btn {
          background-color: #46954A;
          color: #F8F9FA;
          border-radius: 8px;
        }
        .card-custom {
          background-color: #E6E6E6;
        }
        .card-group {
          position: relative;
          margin-top: 150px;
        }
        #myCarouseldiv {     
            width: 80%;
            margin:0 auto;
        }
          
